
.about-banner {
 background-color: #000;
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('./УслугиКартинки/enginePattern.jpg');
   
    
    color: white;
    padding: 60px 0;
    text-align: center;
}

.about-banner h1 {
    font-size: 3rem;
     margin-bottom: 10px;
   
}

.breadcrumbs {
    font-size: 0.9rem;
    font-weight: bold;
}

.breadcrumbs .home-link {
    color: #e74c3c;
    text-decoration: none;
}

.breadcrumbs span {
    color: white;
    margin: 0 5px;
}


.about-intro {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.intro-flex {
    display: flex;
    align-items: center;
    gap: 0; 
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    overflow: hidden;
}

.intro-image {
    flex: 1.2;
   
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.intro-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.intro-text {
    flex: 1;
    padding: 40px;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    text-align: left;
}


.about-details {
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}

.about-grid {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.about-text, .about-image {
    flex: 1;
    min-width: 300px;
}


.red-line {
    width: 60px;
    height: 3px;
    background-color: #e74c3c;
    margin-bottom: 20px;
}

.team-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.section-header h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 3px;
    border-color: #e74c3c;
}

.map-section {
    padding: 40px 20px;
    background-color: #fff;
     padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
   

}

.map-container {
    max-width: 600px; 
    height: 400px;    
    margin: 0 auto;  
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}




.team-grid {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;       
    gap: 40px;             
    justify-content: flex-start;
}

.team-member {
    flex:  300px;     
    max-width: 380px;
}

.member-img img {
    width: 100%;
    height: auto;
    display: block;
    background-color: #fff; 
}

.member-info {
    padding-top: 20px;
}

.member-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.member-info p {
    color: #777;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.red-dash {
    color: #e74c3c;
    font-weight: bold;
    margin-right: 8px;

}
