.contacts-banner {
   background-color: #000;
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('./УслугиКартинки/enginePattern.jpg');
   
    
    color: white;
    padding: 60px 0;
    text-align: center;
}

.conatct-banner h1 {
    font-size: 3rem;
   margin-bottom: 10px;
}

.breadcrumbs {
    font-size: 0.9rem;
    font-weight: bold;
}

.breadcrumbs .home-link {
    color: #e74c3c;
    text-decoration: none;
}

.breadcrumbs span {
    color: white;
    margin: 0 5px;
}










.contact-form-section { 
    padding: 80px 0; 
    max-width: 1200px;
     margin: auto; }
.form-grid { 
    display: flex; 
    gap: 50px; }
.form-wrapper { 
    flex: 2; }
.side-info { 
    flex: 1; }

.red-line { 
    width: 50px;
     height: 3px; 
     background: #e74c3c; 
     margin-bottom: 30px; }

.input-row { 
    display: flex;
     gap: 20px;
      margin-bottom: 20px; }
input, select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    background: #fdfdfd;
}
textarea { height: 150px; }

.btn-send {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 15px 40px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}


.work-hours {
     background:  #fff; 
      border:  1px solid #eee; 
      padding: 30px; 
      margin-bottom: 30px; }
.work-hours ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f9f9f9;
}

.social-follow {
     background: #f4f4f4;
      padding: 30px; }
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #2c3e50;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


@media (max-width: 768px) {
    .form-grid { flex-direction: column; }
    .info-overlay { position: static; transform: none; width: 100%; }
    .input-row { flex-direction: column; }

}

