
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}


header {
    background: #2c3e50;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.logo span {
    color: #e74c3c;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #e74c3c;
}
.nav-links li a.active {
    color: #e74c3c ;
    font-weight: bold;
    border-bottom: 2px solid #e74c3c; 
    padding-bottom: 5px;
}


.nav-links li a:hover {
    color: #e74c3c;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 5px;
}


.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('https://images.unsplash.com/photo-1486262715619-67b85e0b08d3?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 35px;
    background-color: transparent;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn:hover{
     background-color: #e74c3c;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(231, 76, 60, 0.3);
}



.about {
    padding: 5rem 2rem;
    max-width: 1200px;
    margin: auto;

   
   
}

section .about {
    border-bottom: 2px solid #b09a9a; 
    width: 100%;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap; 
    
    
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #e74c3c;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}
.about-text h2 span{
     color: #e74c3c;
}

.about-text p {
    margin-bottom: 1rem;
    color: #555;
    font-size: 1.1rem;
}

.about-features {
    list-style: none;
    margin-top: 1.5rem;
}

.about-features li {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #2c3e50;
    display: flex;
    align-items: center;
}

.about-features i {
    color: #e74c3c;
    margin-right: 10px;
}



.services {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.service-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.service-box {
    flex: 1;
    min-width: 250px;
    padding: 2rem;
    background: #f4f4f4;
    border-radius: 8px;
    transition: 0.3s;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.service-box i {
    font-size: 3rem;
    color: #e74c3c;
    margin-bottom: 1rem;
}
.more-services {
    margin-top: 3rem;
    text-align: center;
}

.btn-more {
    display: inline-block;
    padding: 12px 35px;
    background-color: transparent;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn-more:hover {
    background-color: #e74c3c;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(231, 76, 60, 0.3);
}



.site-footer {
    background: #1a252f;
    color: white;
    padding: 3rem 0 1rem;
    margin-top: 3rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 2rem;
    gap: 30px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 2rem;
}

.footer-section h3, .footer-section h4 {
    margin-bottom: 1.5rem;
}

.footer-section h3 span {
    color: #e74c3c;
}


.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 0.8rem;
}

.footer-section ul li a {
    color: #bdc3c7;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #e74c3c;
    padding-left: 5px;
}

.social-links {
    margin-top: 1.5rem; /
}

.social-links a {
    color: white;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    transition: 0.3s ease;
    display: inline-block;
}

.social-links a:hover {
    color: #e74c3c;
    transform: translateY(-3px); 
}

.contact-info p {
    margin-bottom: 1rem;
    color: #bdc3c7;
}

.contact-info i {
    color: #fdfdfd;
    margin-right: 10px;
}

.work-hours ul li {
  
    border-bottom: 1px dashed #34495e;
   
}

@media (max-width: 768px) {


    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }


    .hero {
        height: auto;
        padding: 4rem 1.5rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    
    .about-container {
        flex-direction: column;
    }

    
    .service-container {
        flex-direction: column;
    }

    
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}


